.profile-image {
    border-radius: 50%;
}

#content {
    margin-top: 5vh;
}

#about-me {
    padding-top: 70px;
    margin-bottom: 5vh;
}

#portfolio {
    margin-bottom: 5vh;
}

.portfolio-item {
    padding: 1vw;
    background-clip: padding-box;
}

.footer-text {
    color: #fff;
}

.icon {
    font-size: 60px;
}

.center {
    margin: 0 auto;
}